In [21]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("../data/df_venues_processed.csv", sep=";")

data

,Date,GLOBAL,D1,D2,D3,D4,jour_ferie.,pont.conge.,holiday,jour_semaine,Semaine,Annee,Annee_et_Semaine,Temp,pluie,autre,Greve_nationale,SNCF,prof_nationale,Total_reservations
0,05/09/2022,240,0,172,55,13,0,0,0,lundi,36,2022,2022 Sem 36,20,3.1,1,0,0,0,203
1,06/09/2022,542,4,336,169,33,0,0,0,mardi,36,2022,2022 Sem 36,17,0.4,0,0,0,0,257
2,07/09/2022,657,1,399,217,40,0,0,0,mercredi,36,2022,2022 Sem 36,17,0.5,1,0,0,0,220
3,08/09/2022,607,2,377,180,48,0,0,0,jeudi,36,2022,2022 Sem 36,15,0.4,1,0,0,0,181
4,09/09/2022,461,5,300,120,36,0,0,0,vendredi,36,2022,2022 Sem 36,15,0.4,1,0,0,0,149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,25/09/2023,624,6,325,229,64,0,0,0,lundi,39,2023,2023 Sem 39,14,0.0,0,0,0,0,253
246,26/09/2023,713,6,374,259,74,0,0,0,mardi,39,2023,2023 Sem 39,16,0.0,0,0,0,0,271
247,27/09/2023,623,6,335,231,51,0,0,0,mercredi,39,2023,2023 Sem 39,17,0.0,0,0,0,0,264
248,28/09/2023,659,6,354,232,67,0,0,0,jeudi,39,2023,2023 Sem 39,16,0.0,0,0,0,0,271
249,29/09/2023,408,6,239,126,37,0,0,0,vendredi,39,2023,2023 Sem 39,19,0.1,0,0,0,0,161

In [ ]:
print("Colonnes disponibles dans le dataset:")
print(data.columns.tolist())
print(f"\nNombre total de colonnes: {len(data.columns)}")

Colonnes disponibles dans le dataset:
['Date', 'GLOBAL', 'D1', 'D2', 'D3', 'D4', 'jour_ferie.', 'pont.conge.', 'holiday', 'jour_semaine', 'Semaine', 'Annee', 'Annee_et_Semaine', 'Temp', 'pluie', 'autre', 'Greve_nationale', 'SNCF', 'prof_nationale', 'Total_reservations']

Nombre total de colonnes: 20

In [ ]:
colonnes_a_supprimer = [
    'D1',
    'D2',
    'D3',
    'D4',
    'SNCF',
    'Date',
    'Annee_et_Semaine'
]

print("Colonnes à supprimer:")
for col in colonnes_a_supprimer:
    print(f"  - {col}")
print(f"\nNombre de colonnes à supprimer: {len(colonnes_a_supprimer)}")

Colonnes à supprimer:
  - D1
  - D2
  - D3
  - D4
  - SNCF
  - Date
  - Annee_et_Semaine

Nombre de colonnes à supprimer: 7

In [ ]:
data_cleaned = data.drop(columns=colonnes_a_supprimer)

print(f"Dataset original: {data.shape}")
print(f"Dataset nettoyé: {data_cleaned.shape}")
print(f"\nColonnes conservées ({len(data_cleaned.columns)}):")
print(data_cleaned.columns.tolist())

Dataset original: (250, 20)
Dataset nettoyé: (250, 13)

Colonnes conservées (13):
['GLOBAL', 'jour_ferie.', 'pont.conge.', 'holiday', 'jour_semaine', 'Semaine', 'Annee', 'Temp', 'pluie', 'autre', 'Greve_nationale', 'prof_nationale', 'Total_reservations']

In [ ]:
jour_semaine_encoded = pd.get_dummies(data_cleaned['jour_semaine'], prefix='jour')

data_with_encoding = pd.concat([data_cleaned, jour_semaine_encoded], axis=1)

data_with_encoding = data_with_encoding.drop('jour_semaine', axis=1)

print("ne-hot encoding effectué!")
print(f"\nNouveaux colonnes créées:")
for col in jour_semaine_encoded.columns:
    print(f"  - {col}")
    
print(f"\nDimensions du dataset: {data_with_encoding.shape}")
data_with_encoding.head()

ne-hot encoding effectué!

Nouveaux colonnes créées:
  - jour_jeudi
  - jour_lundi
  - jour_mardi
  - jour_mercredi
  - jour_vendredi

Dimensions du dataset: (250, 17)

,GLOBAL,jour_ferie.,pont.conge.,holiday,Semaine,Annee,Temp,pluie,autre,Greve_nationale,prof_nationale,Total_reservations,jour_jeudi,jour_lundi,jour_mardi,jour_mercredi,jour_vendredi
0,240,0,0,0,36,2022,20,3.1,1,0,0,203,False,True,False,False,False
1,542,0,0,0,36,2022,17,0.4,0,0,0,257,False,False,True,False,False
2,657,0,0,0,36,2022,17,0.5,1,0,0,220,False,False,False,True,False
3,607,0,0,0,36,2022,15,0.4,1,0,0,181,True,False,False,False,False
4,461,0,0,0,36,2022,15,0.4,1,0,0,149,False,False,False,False,True

In [ ]:
print(data_with_encoding[['jour_lundi', 'jour_mardi', 'jour_mercredi', 'jour_jeudi', 'jour_vendredi']].head(10))

Exemple de l'encodage (premières lignes):
   jour_lundi  jour_mardi  jour_mercredi  jour_jeudi  jour_vendredi
0        True       False          False       False          False
1       False        True          False       False          False
2       False       False           True       False          False
3       False       False          False        True          False
4       False       False          False       False           True
5        True       False          False       False          False
6       False        True          False       False          False
7       False       False           True       False          False
8       False       False          False        True          False
9       False       False          False       False           True

In [ ]:
output_path_encoded = '../data/df_venues_final.csv'
data_with_encoding.to_csv(output_path_encoded, sep=';', index=False)
print(f"Dataset avec one-hot encoding sauvegardé dans: {output_path_encoded}")
print(f"Dimensions finales: {data_with_encoding.shape[0]} lignes × {data_with_encoding.shape[1]} colonnes")

Dataset avec one-hot encoding sauvegardé dans: ../data/df_venues_final.csv
Dimensions finales: 250 lignes × 17 colonnes